
  .container h3 {
    text-align: center;
    margin-top: 0;
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .container {
    flex-basis: 33.33%;
    padding: 1rem;
  }
  .container h3 {
    text-align: center;
    margin-top: 0;
  }