  .cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mapContainer {
    
    float: left;
    width: 33.33%
  }
  .container { 
    width: 100%;
  }
  .container h3 {
    text-align: center;
    margin-top: 0;
  }
